body {
  font-family: sans-serif;

}

.container {
  overflow: hidden;
  padding: 30px
}

/*------------Begin header----------------*/

.page-title {
	color:#DE3B30;
	font-size:3.5em;
	margin-right:20px;
  margin-bottom: 10px;
}

.byline {
	color:#BBB;
	font-size: 25px;
}


/*------------End header----------------*/

/*Begin nav*/

.dropdown:hover .dropdown-menu {
display: block;
}

.container-fluid {
  background-color: #073873;
}

.main-nav {
  background-color: #073873;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.nav a:hover {
  color: #073873;
}
